.header {
  display: flex;
  align-items: center;
  width: 96%;
  height: 12%;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1% 2%;
  gap: 15px;
  background-color: rgb(35, 2, 61);
}

@media (max-width: 800px) {
  .header {
    margin-bottom: 10%;
  }
}

.userInfo {
  color: white;
  font-size: 30px;
  float: right;
  position: absolute;
  right: 7%;
}

@media (max-width: 1000px) {
  .userInfo {
    font-size: 20px;
    right: 23%;
  }
}
