/* Base styles for all screen sizes */
.courses {
  height: 100%;
  width: 92%;
  padding: 2% 2%;
  margin: 0 auto;
}

.searchbar {
  display: flex;
  justify-content: space-between;
  height: 10%;
  width: 95%;
  margin: 0 auto;
  padding: 2%;
}

.no_matches {
  color: white;
  text-align: center;
  padding: 200px;
  font-size: 50px;
}

@media (max-width: 768px) {
  .searchbar {
    height: 7%;
    padding: 7% 0%;
  }

  @media (min-width: 1000px) {
    .searchbar {
      height: 5%;
      background-color: aqua;
    }
  }

  .no_matches {
    font-size: 30px;
    padding: 100px;
  }
}
