.courses {
  height: 100%;
  width: 92%;
  padding: 2% 2%;
  margin: 0 auto;
}

.searchBar {
  display: flex;
  justify-content: space-between;
  height: 10%;
  width: 95%;
  margin: 0 auto;
  padding: 2%;
}

.noMatches {
  color: white;
  text-align: center;
  padding: 200px;
  font-size: 50px;
}

@media (max-width: 768px) {
  .searchBar {
    height: 7%;
    padding: 7% 0%;
  }

  @media (min-width: 1000px) {
    .searchBar {
      height: 5%;
      background-color: aqua;
    }
  }

  .noMatches {
    font-size: 30px;
    padding: 100px;
  }
}

.createButtonStyle {
  background-color: green;
  width: 73px;
  font-size: 14px;
  height: 44px;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: '5px';
}
