.main_container {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  color: aliceblue;
}

.courses {
  width: 90%;
  margin: 0 auto;
  width: 98%;
}

.title {
  display: flex;
  justify-content: space-between;
  padding: 1% 8% 2% 5%;
  margin: 0 auto;
  align-items: center;
  height: 100%;
  width: 88%;
}

@media (min-width: 800px) {
  .title {
    padding: 4% 5% 4% 2%;
    margin: 0 auto;
    align-items: center;
    height: 100%;
    width: 87%;
  }
}

.desc_input {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 5%;
}

.add_authors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: aliceblue;
  margin: 0 auto;
  max-width: 100%;
}

.author_item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5%;
  align-items: center;
}

.authors_container {
  display: block;
  height: 100%;
  margin: 0 auto;
  width: 85%;
  padding-bottom: 10%;
}

@media (min-width: 1000px) {
  .authors_container {
    width: 45%;
    margin-right: 86px;
  }
}

.author_name {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20%;
  align-self: flex-end;
  width: 100%;
}

.authors_list {
  border: 1px solid floralwhite;
  padding: 5% 5%;
  margin-top: 5%;
  margin-bottom: 10%;
}

@media (min-width: 1000px) {
  .authors_list {
    width: 82%;
  }
}

.duration_container {
  margin-bottom: 20%;
}

.duration_container h1 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.add_authors_container {
  padding-left: 6%;
}

@media (max-width: 800px) {
  .add_authors_container {
    width: 90%;
  }
}
