.main_container {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  color: aliceblue;
}

.courses {
  width: 90%;
  margin: 0 auto;
  width: 98%;
}

.title {
  display: flex;
  justify-content: space-between;

  padding: 2% 2%;

  margin: 0 auto;
  height: 100%;
  width: 89%;
  align-items: center;
}

@media (max-width: 800px) {
  .title {
    padding: 2% 2%;
    margin: 0 auto;
    height: 100%;
    width: 89%;
  }
}

.desc_input {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 5%;
}

.add_authors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: aliceblue;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
}

.author_item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5%;
  align-items: center;
}

.authors_container {
  display: block;
  height: 100%;
  margin: 0 auto;
  width: 85%;
  padding-bottom: 10%;
}

@media (min-width: 1000px) {
  .authors_container {
    width: 45%;
    margin-right: 86px;
  }
}

.author_name {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20%;
  align-self: flex-end;
  width: 100%;
}

.authors_list {
  border: 1px solid floralwhite;
  padding: 5% 5%;
  margin-top: 5%;
  margin-bottom: 10%;
}

@media (min-width: 1000px) {
  .authors_list {
    width: 82%;
  }
}

.duration_container {
  margin-bottom: 20%;
}

.duration_container h1 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.add_authors_container {
  padding-left: 6%;
  width: 30%;
}

@media (max-width: 800px) {
  .add_authors_container {
    width: 90%;
  }
}

/* Buttons */

.createButtonStyle {
  background-color: green;
  width: 73px;
  font-size: 14px;
  height: 44px;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-left: 4px;
}

.createAuthorButtonStyle {
  background-color: #ffdd12;
  width: 73px;
  font-size: 15px;
  color: black;
  height: 42px;
  cursor: pointer;
  border: none;
  margin-top: 11px;
  border-radius: 0 5px 5px 0px;
}

.deleteButtonStyle {
  background-color: darkred;
  width: 80px;
  font-size: 20px;
  height: 35px;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.createButtonStyle {
  background-color: green;
  width: 73px;
  font-size: 14px;
  height: 44px;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.addButtonStyle {
  background-color: green;
  width: 70px;
  font-size: 20px;
  height: 35px;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

/* Inputs */

.inputSmallStyle {
  display: block;
  color: black;
  margin-top: 10px;

  height: 39px;
  width: 500px;
  font-size: 20px;
  padding-left: 10px;
}

@media (max-width: 768px) {
  .inputSmallStyle {
    width: 200px;
  }
}

.inputMediumStyle {
  display: flex;
  justify-content: center;
  height: 40px;
  width: 400px;
  margin-top: 10px;
  align-items: center;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .inputMediumStyle {
    width: 200px;
    font-size: 15px;
  }
}

.inputDescStyle {
  display: flex;
  font-size: 25px;
  font-family: 'Roboto';
  justify-content: center;
  height: 130px;
  width: 1500px;
  margin-top: 10px;
  border-radius: 5px;
  padding-left: 10px;
}

@media (max-width: 768px) {
  .inputDescStyle {
    width: 327px;
    font-size: 15px;
  }
}
