.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 80%;
}

.loginContainer {
  display: block;
  margin: 0 auto;
  width: 500px;
  height: 500px;
}

.login_form {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 350px;
}

.registerLink {
  color: rgb(5, 153, 239);
  text-decoration: none;
  cursor: pointer;
}

.loginContainer h1 {
  color: aliceblue;
  text-align: center;
}

.loginContainer p {
  text-align: center;
}

.errorText {
  color: red;
  margin-bottom: 30px;
}
